.categories {
  &__article {
    @include page-grid;

    row-gap: 40px;

    @include on-tablet {
      gap: 56px 24px;
    }

    @include on-desktop {
      gap: 56px 24px;
    }
  }

  &__product {
    @include page-grid;

    gap: 16px 20px;

    @include on-tablet {
      column-gap: 24px;
    }

    @include on-desktop {
      column-gap: 24px;
    }

    grid-column: 1 / -1;
  }

  &__image {
    width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: top;
    border-radius: 4px;

    @include on-tablet {
      height: 184px;
    }

    @include on-desktop {
      height: 324px;
    }

    &--first {
      @include on-tablet {
        grid-column: 1 / 5;
      }

      @include on-desktop {
        grid-column: 1 / 9;
      }
    }

    &--second {
      @include on-tablet {
        grid-column: 5 / 7;
      }

      @include on-desktop {
        grid-column: 9 / 13;
      }
    }

    &--third {
      @include on-tablet {
        grid-column: 1 / 3;
      }

      @include on-desktop {
        grid-column: 1 / 5;
      }
    }

    &--fourth {
      @include on-tablet {
        grid-column: 3 / 7;
      }

      @include on-desktop {
        grid-column: 5 / 13;
      }
    }

    &--fifth {
      object-position: center;

      @include on-tablet {
        grid-column: 1 / 5;
      }

      @include on-desktop {
        grid-column: 1 / 9;
      }
    }

    &--sixth {
      @include on-tablet {
        grid-column: 5 / 7;
      }

      @include on-desktop {
        grid-column: 9 / 13;
      }
    }
  }

  &__heading {
    grid-column: 1 / -1;
    font-size: 24px;
    line-height: 140%;

  }

  &__button {
    box-sizing: border-box;
    background-color: $text-color;
    border-radius: 8px;
    align-content: center;
    height: 56px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    transition-duration: 0.2s;

    text-align: center;
    color: #FFF;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: 1 / 5;
    }

    &:hover {
      background-color: #F8F8FA;
      border: 2px solid #F0F1F4;
      color: $text-color;
    }

    &:active {
      background-color: #111;
      color: #FFF;
    }
  }
}
