.section-title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;

  margin-bottom: 48px;

  @include on-tablet {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 56px;
  }

  @include on-desktop {
    font-size: 48px;
    line-height: 48px;
  }
}

.main {
  position: relative;
  background-color: #fff;
  z-index: 1;

  &__content {
    display: grid;
    row-gap: 96px;
    padding-top: 64px;
    padding-bottom: 96px;

    @include on-tablet {
      row-gap: 120px;
      padding-block: 120px;
    }

    @include on-desktop {
      row-gap: 128px;
      padding-block: 120px;
    }
  }
}
