.recommended {
  &__image {
    width: 100%;
    border-radius: 4px;
    aspect-ratio: 1 / 1;

    object-fit: cover;
    object-position: top;

    margin-bottom: 24px;
  }

  &__heading {
    font-size: 18px;
    line-height: 140%;


    margin-bottom: 8px;
  }

  &__description {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;


    margin-bottom: 12px;
  }

  &__price {
    font-size: 16px;
    line-height: 140%;

  }

  &__article {
    display: grid;
    row-gap: 40px;

    grid-column: 1 / -1;

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
    }
  }
}
