.contact {
  &__content {
    @include page-grid;
  }

  &__information {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }

  &__field {
    margin-bottom: 8px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;

    font-size: 14px;
    line-height: 140%;

    color: #9393A3;
  }

  &__value {
    font-family: 'Space Mono', monospace;
    font-weight: 400;

    font-size: 16px;
    line-height: 140%;

    color: #191919;
  }
}

.information {
  &:hover {
    .contact__value {
      transition-duration: 0.2s;
      color: black;
      text-shadow: gray 5px 5px 3px;
    }

    .contact__field {
      color: $text-color;
    }
  }
}
