.footer {
  @include contest-padding-inline;

  margin-bottom: 64px;
  display: grid;
  row-gap: 104px;

  @include on-tablet {
    row-gap: 120px;
    margin-bottom: 120px
  }

  @include on-desktop {
    position: sticky;
    bottom: 0;
    z-index: 0;
    row-gap: 120px;
    margin-bottom: 120px;
  }
}
