.footer-form {
  @include page-grid;

  row-gap: 16px;
  grid-column: 1 / -1;

  @include on-desktop {
    grid-column: span 5;
  }

  &__element {
    box-sizing: border-box;
    background-color: #F8F8FA;
    height: 48px;
    border-radius: 8px;
    border: 0;
    grid-column: 1 / -1;
    padding-left: 16px;

    font-family: 'Space Mono', monospace;
    font-weight: 400;

    font-size: 14px;
    line-height: 140%;
    color: $text-color;

    &::placeholder {
      color: #7E7E83;
    }

    &--textarea {
      height: 148px;
      padding: 14px 16px;
      align-items: start;

      &::placeholder {
        padding: 0;
      }
    }

    &:hover {
      border: 1px solid #D5D7DE;

      &::placeholder {
        color: $text-color;
      }
    }

    &:focus {
      border: 1px solid $text-color;

      &::placeholder {
        color: $text-color;
      }
    }

    &--button {
      height: 56px;
      margin-bottom: 48px;
      background-color: $text-color;

      font-family: 'Space Grotesk', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;

      text-align: center;
      color: #FFF;

      transition-duration: 0.2s;

      @include on-tablet {
        margin-bottom: 80px;
      }

      @include on-desktop {
        margin-bottom: 0;
      }

      &:hover {
        background-color: #F8F8FA;
        border: 2px solid #F0F1F4;
        color: $text-color;
      }

      &:active {
        background-color: #111;
        color: #FFF;
      }
    }
  }
}
