@mixin on-tablet {
  @media (min-width: $on-tablet-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $on-desktop-width) {
    @content;
  }
}

@mixin contest-padding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    padding-inline: 120px;
    max-width: 1020px;
    margin-inline: auto;
  }
}

@mixin hover($property, $value) {
  transition: #{$property} 0.2s;

  &:hover {
    #{$property}: #{$value};
  }
}

@mixin page-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include on-tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
  }
}
