.header {
  background-color: #fff;
  background-image: url("../images/bcg-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;

  @include on-desktop {
    background-image: url("../images/bcg-image-high-quality.png");
  }

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 65px;
    }

    @include on-desktop {
      padding-bottom: 92px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.heading {
    font-size: 36px;
    line-height: 100%;

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 56px;
    }
}
