.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #E5E6E8;

  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;

  position: relative;
  z-index: 1;

  &__nav{
    margin-bottom: 48px;
  }

  &__top {
    margin-bottom: 32px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #e5e5e5;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__phone {
    display: block;
    margin-bottom: 16px;
  }

  &__cta {
    position: relative;
    text-transform: uppercase;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      box-sizing: border-box;
      height: 1px;
      width: 100%;
      border-bottom: 1px solid $text-color;
    }
  }
}
